<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/"><i class="fas fa-home"></i> Home</a>

    {% if session.get('user') %}
        <a href="/add"><i class="fas fa-plus-circle"></i> Add</a>
        <a href="/view"><i class="fas fa-list"></i> View</a>
        <a href="/admin"><i class="fas fa-chart-line"></i> Dashboard</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    {% else %}
        <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        <a href="/register"><i class="fas fa-user-plus"></i> Register</a>
    {% endif %}
</div>



<div class="container">
    <div class="card">
        <h1>Complaint Management System</h1>
        <p>Welcome to the system</p>
    </div>
</div>

</body>
</html>
